@media (prefers-color-scheme: dark) {
    .loading {
        background-color: #1b1b1f;
        color: #ADC6FF;
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 16px;
    }
}