@page "/css"
@inherits SeedColorSelector

<MudPaper Class="pa-4 ma-4" Style="width: 460px">
    <ColorScheme Scheme="@ThemeService.Scheme"/>
    <div class="pb-4"></div>
    <ColorInput/>
    <div class="pb-4"></div>
    <StyleSelector/>
    <div class="pb-4"></div>
    <ImageInput />
</MudPaper>
<CssVariablesDisplay />

@code {
    protected override void SetFromSeed(uint seed)
    {
        StateHasChanged();
    }
}