@using System.Text.RegularExpressions
@using Playground.Wasm.Services
@using System.Text
@using MaterialColorUtilities.Utils
@using System.ComponentModel.DataAnnotations
@using Playground.Wasm.Extensions
@inherits SeedColorSelector

<div class="code">
    <pre>
        <code>
            @_text
        </code>
    </pre>
</div>

@code {

    private string _text;

    protected override void SetFromSeed(uint seed)
    {
        _text = ThemeService.CreateCssVariables();
    }

}